body{
    background: #ebebeb url("../images/brushed.png") repeat;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;

}



header{
    background-color: #fff;
    width:100%;
    border-bottom: 2px #ccc solid;

}



#logo{
    background-color: #4aaaa5;
    color:#fff;
    padding:20px;
    text-align: center;
    display:inline-block;

}



nav{
    display:inline-block;

    text-align: right;
    text-transform: capitalize;

}



nav ul{
    margin: 20px;
    padding: 10px;

}



nav ul li{
    display:inline;
    list-style-type: none;

}



nav ul li:not(:first-child):before{
    content: " | ";
    margin:0px 10px;

}



nav a:link, nav a:visited{
    text-decoration: none;

    color:#ccc;

}



nav a:hover{
    color:#666;

}



p{

    margin-bottom: 18px;

}



h1{
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 36px;

    color:#fff;
    text-transform: capitalize;

}



h2, h3{
    font-family: 'Georgia', Times, Times New Roman, serif;
    color:#4aaaa5;
    text-transform: capitalize;

}



h2{font-size: 28px;}


h3{font-size: 24px;}



#example1{background: #ccc url("../images/example_01.jpg") no-repeat;}

#example2{background: #ccc url("../images/example_02.jpg") no-repeat;}

#example3{background: #ccc url("../images/example_03.jpg") no-repeat;}

#example4{background: #ccc url("../images/example_04.jpg") no-repeat;}

#example5{background: #ccc url("../images/example_05.jpg") no-repeat;}



#example-link1 {padding-left:100px; padding-right:101px;}

#example-link2 {padding-left:93px; padding-right:94px;}

#example-link3 {padding-left:91px; padding-right:92px;}

#example-link4 {padding-left:64px; padding-right:64px;}

#example-link5 {padding-left:60px; padding-right:61px;}

#example-link1, #example-link2, #example-link3, #example-link4, #example-link5 {margin:0px;}



/* Portfolio links */

.example-list a{
    background-color: #4aaaa5;
    color:#fff;
	padding:20px;
    text-decoration: none;
    text-transform: capitalize;

}



.example-list a:visited{color:#fff;}

.example-list a:hover{color:#666;}



/* Portfolio images */

.example-list{

    height:50px;
    width:270px;
    margin:20px;
    float:left;
    text-align: center;
    padding:200px 0px 20px 0px;

}




footer{
    width:100%;

    background-color: #666;
    text-align: center;

    vertical-align: middle;
    border-top: 20px #4aaaa5 solid;
    height:20px;
    padding:60px 0px;
    color:#ebebeb;

}



aside{
    width:220px;

    display: inline-block;
    float:right;
    margin:20px 0px 20px 30px;
    text-align: center;

    background-color: #fff;
}



aside a img{height:64px;}



.content-area{
    background-color: #fff;
    padding:19px;
    border:1px #ddd solid;

}



@media only screen and (max-width: 600px){
    body{text-align: center;}
    
    #logo{
        width:100%;
        clear:both;
    }

    nav{
        width:100%;

        font-size: 115%;
    }

    .container{
        position:relative;
        width:100%;
        margin:0;
    }
    
    #example1, #example2, #example3, #example4, #example5{ float: none; clear:both; }

    nav{ text-align: center; }
    
    aside{ width:90%; clear:both; }
    
    .content-area{
        border: 0px;

        font-size: 22px;
        line-height: 28px;
    }

    #example-link1 {padding-left:87px; padding-right:87px;}
    #example-link2 {padding-left:78px; padding-right:78px;}
    #example-link3 {padding-left:75px; padding-right:76px;}
    #example-link4 {padding-left:37px; padding-right:38px;}
    #example-link5 {padding-left:32px; padding-right:33px;}
    #example-link1, #example-link2, #example-link3, #example-link4, #example-link5 {margin:0px;}

    #formContact{text-align: left;}
    #formContact input {
        margin-bottom:12px;
        padding:6px;
        width:100%;
    }
    
    #formContact input[type=submit] {
        width:100px;
        background-color: #4aaaa5;

    }
    
    .textarea {
        padding: 5px;
        width: 200px;
        height: 100px;
        text-overflow: auto;
    }

}



@media only screen and (min-width: 768px) {
    /* For desktop: */
    #logo{width: 240px;}
    
    nav{ float:right; }


    .container{
        position:relative;
        width:960px;
        margin:0 auto;
    }

    #main-content{
        width: 630px;
        display: inline-block;
        margin:20px 0px 20px 0px;
    }

    .photo-wrapp{
        float:left;
        margin:5px 20px 10px 0px;

        border:1px #ddd solid;
    }

    #formContact{
        border:0px #000 solid;
        background-color: #fff;
    }

    
    #formContact label, input{ display:block;}
    
    #formContact input {
        margin-bottom:12px;
        padding:6px;

        width:250px;
    }
    
    #formContact input[type=submit] {
        width:100px;
        background-color: #4aaaa5;

    }
    
    .textarea {
        padding: 5px;

        width: 250px;
        height: 100px;
        text-overflow: auto;
    }

    #example-link1 {padding-left:100px; padding-right:101px;}
    #example-link2 {padding-left:93px; padding-right:94px;}
    #example-link3 {padding-left:91px; padding-right:92px;}
    #example-link4 {padding-left:64px; padding-right:64px;}
    #example-link5 {padding-left:60px; padding-right:61px;}
    #example-link1, #example-link2, #example-link3, #example-link4, #example-link5 {margin:0px;}

}




